body {
  display: block;
  outline: 1px soid #2980b9 !important;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  text-align: center;
  margin: auto !important;
  padding: 0;
  line-height: 1.5;
  color: #212529;
  font-size: 1rem;
  max-width: 1420px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a,
body,
p {
  font-weight: 300;
}

header {
  display: flex !important;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 20px;
  background-color: #fff;
}

@media screen and (max-width: 1920px) {
  header {
    margin: 0 90px;
  }
}

nav {
  display: flex !important;
  width: auto;
  padding: 0;
  margin: 0;
  align-items: flex-start;
}

.main-menu > ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.logo {
  width: auto;
  height: 60px;
  object-fit: contain;
  justify-content: center;
}

.main-menu > ul > li {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14px;
  font-size: 17.5px;
  font-weight: 300;
  min-height: 41px;
  color: #515151;
  text-align: center;
}

.main-menu > ul > li:hover {
  cursor: pointer;
  color: #4bb2e5;
}

section {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  color: #27384e;
  /* margin: 0; */
  /* padding: 0; */
  /* align-items: center; */
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
  /* padding: 10px; */
}

.intro {
  padding: 0 10px;
  margin: 0;
}

.intro > h2 {
  padding: 0;
  margin: 10px 0;
  font-size: 31.5px;
  font-weight: 500;
  line-height: 1.2;
  /* padding: 5px; */
  /* margin: 5px; */
}

.intro > h2 span {
  font-size: 13px !important;
  color: #606060 !important;
  margin: 0 10px;
}

.intro-description > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}

.intro-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.intro-link {
  min-width: 190px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin: 0 10px;
  /* padding: 0 10px; */
  text-align: right;
  justify-content: center;
  /* align-items: center; */
}

.intro-link > a {
  text-decoration: none;
  /* padding: 0; */
  margin: 0 5px;
  padding: 0 15px;
}

.disclosure {
  color: #007bff;
  font-size: 14px;
}

.disclosure:hover {
  color: #5a6bcf;
}

.about-our-rankings {
  color: #007bff;
  font-size: 12px;
}

.about-our-rankings:hover {
  color: #5a6bcf;
}

.side-content {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.purifier-types {
  margin: 10px 0;
  width: 250px;
  border: 1px solid #dee2e6;
}

.purifier-types > h1 {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0;
  font-size: 18px;
  background-color: #f5f5f5;
  color: #7a7a7a;
  font-weight: 500;
}

.purifier-types > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.purifier-types > ul > li {
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #dee2e6 !important;
  background-color: #fff;
  color: #007bff;
}

.purifier-types > ul > li:hover {
  background-color: #f8f9fa;
  color: #808080;
  font-weight: 700;
}
