body {
  display: block;
  outline: 1px soid #2980b9 !important;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  text-align: center;
  margin: auto !important;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: #212529;
  font-size: 18px;
  max-width: 1420px;
}

div {
  display: block
}

*,
::after,
::before {
  box-sizing: border-box;
}

a,
body,
p {
  font-weight: 300;
  text-decoration: none;
}


/* 
  NAVBAR
*/
header {
  display: flex !important;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 20px;
  background-color: #fff;
}

@media screen and (max-width: 1920px) {
  header {
    margin: 0 90px;
  }
}

nav {
  display: flex !important;
  width: auto;
  padding: 0;
  margin: 0;
  align-items: flex-start;
}

.main-menu > ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.logo {
  width: auto;
  height: 60px;
  object-fit: contain;
  justify-content: center;
}

.main-menu > ul > li {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14px;
  font-size: 17.5px;
  font-weight: 300;
  min-height: 41px;
  color: #515151;
  text-align: center;
}

.main-menu > ul > li:hover {
  cursor: pointer;
  color: #4bb2e5;
}

section {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  color: #27384e;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
}

.intro {
  padding: 0 10px;
  margin: 0;
}

.intro > h2 {
  padding: 0;
  margin: 10px 0;
  font-size: 31.5px;
  font-weight: 500;
  line-height: 1.2;
}

.intro > h2 span {
  font-size: 13px !important;
  color: #606060 !important;
  margin: 0 10px;
}

.intro-description > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}

.intro-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.intro-link {
  min-width: 190px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin: 0 10px;
  text-align: right;
  justify-content: center;
}

.intro-link > label {
  text-decoration: none;
  margin: 0 5px;
  padding: 0 15px;
}

.side-content {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.purifier-types {
  margin: 10px 0;
  width: 250px;
  border: 1px solid #dee2e6;
}

.purifier-types > h1 {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0;
  font-size: 18px;
  background-color: #f5f5f5;
  color: #7a7a7a;
  font-weight: 500;
}

.purifier-types > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.purifier-types > ul > li {
  cursor: pointer;
  font-size: 15px;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #dee2e6 !important;
  background-color: #fff;
  color: #007bff;
}

.purifier-types > ul > li:hover {
  background-color: #f8f9fa;
  color: #808080;
  font-weight: 700;
}


/* 
PRODUCT details
*/
.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 10px;
  padding-left: 30px;
  gap: 1.5em;
}

.product-1  {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #dee2e6;
  box-shadow: .5px 2px rgb(0,0,0, .1);
  padding: 10px;
}

.product-1 > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-1 > a img {
  vertical-align: middle;
  border-style: none;
  height: auto;
  object-fit: contain;
  max-width: 185px;
  min-width: 135px;
  max-height: 170px !important;
  height: 150px;
  /* width: inherit; */
  display : block;
  /* padding-left: 10px; */

}

.product-description {
  font-family: Helvetica, sans-serif;
  padding: 10px;
  font-size: 14px;
}

.product-description > h1 {
  width: 100%;
  margin: 0;
  padding-left: 30px;
  border-bottom: 2px solid #2387db !important;
}

.product-description > h2 {
  padding: 5px 10px;
  margin: 0;
  color: #2387db;
  font-size: 16px;
}

.product-description > h3 {
  color: #000;
  font-weight: 600;
  margin: 0;
  padding: 0 10px;
}

.product-description > ul {
  width: 100%;
  margin: 0;
  padding: 5px 25px;
  color: #000;
  font-weight: 300;
}

.product-description > ul > li span {
  font-weight: 600;
}

.product-description > p {
  margin: 0;
  padding:0;
}


.check-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.check-price-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #dee2e6;
  box-shadow:  0px 2px rgb(0,0,0, .1);
  padding: 20px;
  gap: 1.5em;
}

.check-price-box > a > button {
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: inherit;
  color: #fff;
  font-size: 16px;
  background-color: orange;
  border: none;
  padding: 20px;
}

.check-price-box > img {
  width: 75px;
  margin: 0;
  padding: 0;
  /* height: 15px; */
}

.check-price > p {
  margin: 0;
  padding: 0;
}

.product-img > img {
  /* width: 150px;
  height: 150px; */
  display: block;
}

.tag {
  display: inline;
}

.top-banner-left {
  background: url(../assets/images/top-banner-left.png) 0 0/cover round;
  width: 16px;
  height: 50px;
  position: relative;
  top: -129px;
  left: -23px;
  background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;
}

.top-banner {
  margin-top: -179px;
  margin-left: -8px;
  width: 150px;
  height: 50px;
  position: absolute;
  white-space:nowrap;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0 0 !important;
  background-size: cover;
  -webkit-background-size: cover;
  background: url(../assets/images/top-banner.png) 0 0/cover round;
}

.top-banner-right {
  width: 12px;
  height: 50px;
  background: url(../assets/images/top-banner-right.png) 0 0/cover round;
  position: relative;
  top: -34px;
  left: 150px;
  background-size: cover;
  -webkit-background-size: cover;
}
.top-banner-left3 {
  background: url(../assets/images/top-banner-left.png) 0 0/cover round;
  width: 16px;
  height: 50px;
  position: relative;
  top: -115px;
  right: 25px;
  background-size: cover;
  -webkit-background-size: cover;
}

.top-banner3 {
  top: -165px;
  left: -10px;
  width: 132px;
  height: 50px;
  position: relative;
  white-space: nowrap;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0 0 !important;
  background-size: cover;
  -webkit-background-size: cover;
  background: url(../assets/images/top-banner.png) 0 0/cover round;
}

.top-banner-right3 {
  display: inline;
  width: 12px;
  height: 50px;
  background: url(../assets/images/top-banner-right.png) 0 0/cover round;
  position: absolute;
  top: 0px;
  background-size: cover;
  -webkit-background-size: cover;
}


.ordinal1 {
  position: relative;
  top: -25px;
  left: -27px;
  height: 36px;
  width: 36px;
  border: 2px solid #127ed8;
  border-radius: 50%;
  background-color: #fff;
  font-size: 21px;
  color: #127ed8;
  font-weight: 700;
  text-align: center;
}
.ordinal {
  position: relative;
  left: -27px;
  height: 36px;
  width: 36px;
  border: 2px solid #127ed8;
  border-radius: 50%;
  background-color: #fff;
  font-size: 21px;
  color: #127ed8;
  font-weight: 700;
  text-align: center;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.button{
  background: #1ce;
  padding: 2em 2em;
  color: #fff;
  border:  0;
}

.button:hover{
  background: #e439ef;
  cursor: pointer;
}
button {
  padding: 7px 10px;
  margin-right: 5px;
}

/* MODAL STYLES
-------------------------------*/

.label-modal {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: flex-end;
  align-items: flex-end;
}

.modalHeader {
  padding:0;
  margin: 0;
  border-bottom: 1px solid #000;
}

.modalHeader > h2{
  font-size: 5px;
  font-weight: 300;
}

.closeBtn{
  color: #ccc;
  float: right; 
  font-size: 20px;
  position: relative;
  top: -55px;
  right: 15px;
  border: none;
  border-radius: 50px;
  /* padding: 0; */
}

.closeBtn:hover,.closeBtn:focus{
  cursor: pointer;
  color: #888;
  text-decoration: none;
}

.disclosure:hover {
  cursor: pointer;
  color: #5a6bcf;
}

.disclosure {
  color: #007bff;
  font-size: 14px;
}
.about-our-rankings {
  color: #007bff;
  font-size: 12px;
}

.about-our-rankings:hover {
  cursor: pointer;
  color: #5a6bcf;
}

.jw-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, .4);
  /* padding: 40px; */
}

.jw-modal.open {
  display: block;
}

.jw-modal-body {
  background-color: #f4f4f4;
  margin: 2% auto;
  padding: 5px 0;
  max-width: 44%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0, .2), 0 7px 20px 0 rgba(0,0,0, .17);

}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}



/* 
PRODUCT SWIPER
*/

.carousel {
  margin: 24px 0px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-sections-scroll {
  flex: 1;
  overflow: hidden;
}
.carousel-sections {
  height: 300px;
  display: flex;
  transition: 250ms transform ease-in;
}

.carousel-sections > div {
  min-width: 100%;
  height: 100%;
  border-radius: 24px;
}

.prev-arrow,
.next-arrow {
  z-index: 10;
  position: relative;
  height: 24px;
  width: 24px;
  margin: 0px 12px;
  background-color: #34db88;
  border-radius: 50%;
  cursor: pointer;
  transition: 150ms all ease-in;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(184, 184, 184, 1);
  box-shadow: 0px 2px 5px 0px rgba(184, 184, 184, 1);
}
.prev-arrow:hover,
.next-arrow:hover {
  -webkit-box-shadow: 0px 2px 13px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0px 2px 13px 0px rgba(128, 128, 128, 1);
  box-shadow: 0px 2px 13px 0px rgba(128, 128, 128, 1);
}

.prev-arrow:after,
.prev-arrow:before,
.next-arrow:after,
.next-arrow:before {
  content: "";
  height: 10px;
  width: 2px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  background-color: #209158;
}
.next-arrow:after,
.next-arrow:before {
  left: 12px;
}

.prev-arrow:after {
  top: 4px;
  transform: rotate(45deg);
}
.prev-arrow:before {
  top: 10px;
  transform: rotate(-45deg);
}

.next-arrow:after {
  top: 4px;
  transform: rotate(-45deg);
}
.next-arrow:before {
  top: 10px;
  transform: rotate(45deg);
}

.carousel-dots {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-dot {
  width: 8px;
  height: 8px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #afafaf;
  margin: 0px 4px;
  transition: 100ms background-color ease-in;
}
.carousel-dot.active {
  background-color: #5f5f5f;
}


.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dee2e6;
  margin: 10px;
  max-width: 200px;
}

.product > img {
  width: 130px;
  height: auto;
  padding: 0;
  margin:0;
}

.product > p {
  padding: 15px;
  text-align: center;
  font-weight: 700;
}


/* =============== CONTENT DESCRIPTION ======================= */
.content-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  color: #27384e;
  max-width: 1420px;
}

.about-rankings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 5px 40px;
  margin: 0;
}

.about-rankings > h1 {
  margin: 0;
  padding:0;
}

.about-rankings > img {
  justify-content: center;
  align-self: center;
}

.about-rankings > ul {
  padding: 0px 60px;
}

.about-rankings > ul > li span {
  font-weight: 800;
  line-height: 2em;
}

.ranking-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  /* gap: 50px; */
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data > img{
  /* margin: 20px 80px; */
  width: 100px;
  height: 110px;
}

.data span {
  display: block;
}

.data > p {
  text-align: center;
  max-width: 200px;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.h1-blue-color {
  font-size: 2.5rem;
  font-weight: 500;
  color: #045fac!important;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  gap: 1.5em;
}
.how-it-works2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  gap: 1.5em;
}

.how-it-works > h1 {
  align-self: center;
  width: 55%;
  border-bottom: 5px solid #045fac;
  line-height: 55px;
  /* border-bottom-width: initial ; */
}
.how-it-works2 > h1 {
  align-self: center;
  width: 140%;
  border-bottom: 5px solid #045fac;
  line-height: 55px;
  /* border-bottom-width: initial ; */
}


/* ==================FOOTER===================== */
.footer-container {
  display: flex;
  flex-direction: column;
  /* height: 450px; */
  background-color: #515151;
  justify-content: flex-start;  
  align-items: center;
  padding: 10px 0px 25px 0;
  max-width: 1420px;
}

.footer-container > h1 {
  padding:0;
  margin:0;
  position: relative;
  color: #fefefe;
  font-size: 64px;
  left: -40px;
  z-index:999;
  -webkit-text-stroke: 1px black;
}

.footer-container > h1 span {
  border: none;
  position: relative;
  left: 85%;
  z-index: -1;
}

.footer-container > h1:focus, .footer-container > h1:hover {
  color:rgba(128, 128, 128, 1);
  cursor: pointer;
}

.subscribe > p {
  color: #fff;
  font-size: 24px;
  padding: 0;
  margin:0;
}

.subscribe > p span > button {
  background-color: orange;
  color: #fefefe;
}
/* .subscribe > p  > input {
  background-color: #fff;
} */
.subscribe > p  > input, span button {
  border: none;
  padding: 10px 10px;
}

.subscribe > h5 {
  color: #fff;
  font-weight: 300 ;
  padding: 0;
}

.subscribe > h5 span {
  color: #888;
}

.menu-footer  {
  text-decoration: none;
  font-size: 20px;
}
.menu-footer > a {
  color: #fff !important;
}
.menu-footer > a:hover {
  cursor: pointer;
  color: #888 !important;
}
